ul.social a.sc-linkedin { 
	background-color: #aaaaaa;
	color: white;}
ul.social a.sc-github {
	background-color: #aaaaaa;
	color: white;}
ul.social a.sc-envelope-o {
 	background-color: #aaaaaa;
 	color: white;
}
ul.social a.sc-envelope {
	background-color: #aaaaaa;
	color: white;
}
/*mortar-board not working in FA 5*/
ul.social a.sc-mortar-board {
	background-color: #aaaaaa;
	color: white;}
ul.social a.sc-newspaper {
  background-color: #aaaaaa;
  color: white;}
ul.social a.sc-rss {
	background-color: #aaaaaa;
	color: white;}

span.n {color: #242121;}
span.p {color: #242121;}

aside a {font-weight: bolder;}
aside a:hover {color: #D9411E;}

main nav a, main .translations a {
    font-size: 20px;
    padding: 0 10px;
}

body {
  font-weight: 400;
  line-height: 1.5;
}

/* Tags */
ul.list-projects,
.list-of-tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
}
.list-of-tags li {
  float: left;
  line-height: 28px;
  margin: 0;
}
.list-of-tags li::marker {
	content:  "";
}
.list-of-tags a {
  background: #eee;
  border-radius: var(--borderRadius);
  color: #222;
  margin: 2px;
  padding: 3px 6px;
  text-decoration: none;
}
.list-of-tags > ul > a {
    color: red;
}
.tags-in-article li {
  float: none;
  line-height: 28px;
}
span.superscript {
  font-size: rfs(0.67rem);
  vertical-align: super;
}
h1,
h2,
h3,
h4,
h5,
h6,
.tag-title,
.list-of-tags,
a.category-title-inside-accordion,
ul.list-articles-under-tag-category li time {
  font-family: var(--sansFontFamily);
}
h1 {
  font-size: rfs(2.4rem);
}
h2 {
  font-size: rfs(2.2rem);
}
h3 {
  font-size: rfs(2rem);
}
h4 {
  font-size: rfs(1.8rem);
}
h5 {
  font-size: rfs(1.6rem);
}
h6 {
  font-size: rfs(1.4rem);
}
ul.list-articles-under-tag-category li {
  font-family: var(--sansFontFamily);
  font-size: rfs(0.963rem);
}
/*monokai background: #242121;*/

main article blockquote, main article pre  {
    border-left-style: solid;
    border-left-color: rgba(128, 128, 128, 0);
    border-left-width: 8px;
}

@font-face {
/*swap tells the browser that text using the font should be displayed immediately using a system font. Once the custom font is ready, it replaces the system font.*/
  font-display: swap;
}