ul.social a.sc-linkedin { 
	background-color: #aaaaaa;
	color: white;}
ul.social a.sc-github {
	background-color: #aaaaaa;
	color: white;}
ul.social a.sc-envelope-o {
 	background-color: #aaaaaa;
 	color: white;
}
ul.social a.sc-envelope {
	background-color: #aaaaaa;
	color: white;
}
ul.social a.sc-mortar-board {
	background-color: #aaaaaa;
	color: white;}

ul.social a.sc-rss {
	background-color: #aaaaaa;
	color: white;}
span.n {color: #242121;}
span.p {color: #242121;}

aside a {font-weight: bolder;}
aside a:hover {color: #D9411E;}
/*monokai background: #242121;*/