.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

pelican-plugins/
plugins-outdated/

pelican-themes/maxwell
pelican-themes/minimal_pelican_theme
pelican-themes/safi_theme

tmp/
cache/
**/.DS_Store
node_modules/

