.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

pelican-plugins/
plugins-outdated/
pelican-themes/maxwell
tmp/
cache/
**/.DS_Store
node_modules/

