[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==4.9.1"
pylint = "*"
typogrify = "*"
ipython = ">=7.31.1"
nbconvert = "<6.0"
notebook = "<6.0"
jinja2 = "<3.1.0"
beautifulsoup4 = "*"
pyment = "*"
jupyter = "*"
Markdown = "*"
appnope = "*"
pelican-render-math = "*"

[dev-packages]
jupytext = "*"

[requires]
python_version = "3.9"
