[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==4.5.4"
pylint = "*"
typogrify = "*"
ipython = "*"
nbconvert = "==5.6.0"
notebook = "==5.6.0"
beautifulsoup4 = "*"
pyment = "*"
jupyter = "*"
Markdown = "*"

[dev-packages]

[requires]
python_version = "3.7"
