[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==4.7.0"
pylint = "*"
typogrify = "*"
ipython = "*"
nbconvert = "<6.0"
notebook = "<6.0"
beautifulsoup4 = "*"
pyment = "*"
jupyter = "*"
Markdown = "*"

[dev-packages]

[requires]
python_version = "3.9"
