pelican==4.8.0
pylint
typogrify
Markdown
ipython
nbconvert<6.0
notebook<6.0
jinja2<3.1.0
beautifulsoup4
pyment
Markdown
appnope

# ---- Plugins ----
pelican-render-math                               # for rendering math formulas
git+https://github.com/izikeros/pelican-obsidian  # for replacing internal links with proper links
